* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdfbf7;
    font-family: "Inter", sans-serif;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfbe9;
    padding: 20px 40px;
    border-radius: 50px;
    margin: 35px 40px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.logo img {
    width: 65px;
    height: auto;
    image-rendering: crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 30px;
    margin-left: auto;
}

.nav-menu a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-weight: 600;
    font-size: 15px;
}

.nav-menu a:hover {
    font-size: 16px;
    color: #575757;
}

.nav-menu a.active {
    color: #d4a017;
}

.nav-actions {
    margin-left: 32px;
}

.btn-black {
    background-color: #000;
    color: #e2ad1c;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.btn-black:hover {
    background-color: #242424;
}

.hero-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-buttons {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
    transform: translateX(-100px);
}

.btn-yellow {
    background-color: #e6b400;
    color: #000;
    border: none;
    padding: 20px 65px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.btn-outline {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 65px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 19px;
    backdrop-filter: blur(5px);
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.btn-yellow:hover {
    background-color: #e7bb1c;
}

.hero {
    height: 950px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.hero-overlay {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 50px 0px;
}

.products-section {
    padding: 80px 40px;
    background-color: #fdfbf7;
}

.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 15px;
    color: #000;
}

.section-subtitle {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-bottom: 50px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background-color: #fff;
    border-radius: 20px;
    height: 300px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card:last-child {
    background-color: #fdfbe9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-view-all {
    background-color: #000;
    color: #e6b400;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-view-all:hover {
    background-color: #242424;
}
